h1 {
  color: #003399;
  text-align: center;
  border-bottom: thick solid #ff6600;
}

h2 {
  color: #003399;
}

h3 {
  color: #003399;
  text-align: center;
  font-size: 125%;
}

p {
  display: inline-block;
  text-align: left;
}

img {
  width: 25rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin: auto;
  text-align: center;
  font-size: 110%;
  font-weight: bold;
  border-top: thick solid #ff6600;
}